In [2]:
import pandas as pd
import os
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [3]:
current_path = os.getcwd()
path = os.path.join(current_path, 'data')
files = os.listdir(path)
vaxfiles = [f for f in files if f[-7:] == 'VAX.csv']
datafiles = [f for f in files if f[-8:] == 'DATA.csv']

In [4]:
vaxes = pd.DataFrame()

for f in vaxfiles:
    fname = os.path.join(current_path, os.path.join('data', f))
    data = pd.read_csv(fname, encoding='us-ascii')
    data['fileyear'] = int(f[:4])
    vaxes = vaxes.append(data)
    
vaxes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162634 entries, 0 to 20071
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   VAERS_ID         162634 non-null  int64
 1   VAX_TYPE         162634 non-null  object
 2   VAX_MANU         162634 non-null  object
 3   VAX_LOT          137090 non-null  object
 4   VAX_DOSE_SERIES  162634 non-null  object
 5   VAX_ROUTE        110883 non-null  object
 6   VAX_SITE         108981 non-null  object
 7   VAX_NAME         162634 non-null  object
 8   fileyear         162634 non-null  int64
dtypes: int64(2), object(7)
memory usage: 12.4+ MB

In [5]:
datas = pd.DataFrame()

for f in datafiles:
    fname = os.path.join(current_path, os.path.join('data', f))
    data = pd.read_csv(fname, encoding='cp850')
    data['fileyear'] = int(f[:4])
    data[['RECVDATE', 'VAX_DATE']] = data[['RECVDATE', 'VAX_DATE']].apply(pd.to_datetime)
    data['AGE_YRS'] = data['AGE_YRS'].apply(pd.to_numeric)
    datas = datas.append(data)
    
datas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96917 entries, 0 to 12122
Data columns (total 36 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VAERS_ID      96917 non-null  int64
 1   RECVDATE      96917 non-null  datetime64[ns]
 2   STATE         95580 non-null  object
 3   AGE_YRS       86618 non-null  float64
 4   CAGE_YR       72421 non-null  float64
 5   CAGE_MO       31723 non-null  float64
 6   SEX           96917 non-null  object
 7   RPT_DATE      79132 non-null  object
 8   SYMPTOM_TEXT  96841 non-null  object
 9   DIED          1568 non-null   object
 10  DATEDIED      1371 non-null   object
 11  L_THREAT      1825 non-null   object
 12  ER_VISIT      35831 non-null  object
 13  HOSPITAL      8475 non-null   object
 14  HOSPDAYS      5564 non-null   float64
 15  X_STAY        556 non-null    object
 16  DISABLE       1734 non-null   object
 17  RECOVD        90073 non-null  object
 18  VAX_DATE      88093 non-null  datetime64[ns]
 19  ONSET_DATE    83851 non-null  object
 20  NUMDAYS       82754 non-null  float64
 21  LAB_DATA      52032 non-null  object
 22  V_ADMINBY     96917 non-null  object
 23  V_FUNDBY      96917 non-null  object
 24  OTHER_MEDS    59460 non-null  object
 25  CUR_ILL       61765 non-null  object
 26  HISTORY       67590 non-null  object
 27  PRIOR_VAX     94191 non-null  object
 28  SPLTTYPE      64436 non-null  object
 29  FORM_VERS     96917 non-null  int64
 30  TODAYS_DATE   0 non-null      float64
 31  BIRTH_DEFECT  0 non-null      float64
 32  OFC_VISIT     0 non-null      float64
 33  ER_ED_VISIT   0 non-null      float64
 34  ALLERGIES     0 non-null      float64
 35  fileyear      96917 non-null  int64
dtypes: datetime64[ns](2), float64(10), int64(3), object(21)
memory usage: 27.4+ MB

In [6]:
bigdata = pd.merge(left = vaxes,
                   right = datas,
                   left_on = 'VAERS_ID',
                   right_on= 'VAERS_ID',
                   how = 'left')[['VAERS_ID', 'RECVDATE', 'AGE_YRS', 'SEX', 'SYMPTOM_TEXT', 'DIED', 'VAX_DATE', 'NUMDAYS', 'LAB_DATA',
                                    'VAX_TYPE', 'VAX_MANU', 'VAX_LOT', 'VAX_DOSE_SERIES', 'VAX_NAME', 'fileyear_y']].rename(columns={'fileyear_y' : 'FILEYEAR'})
bigdata['VAXYEAR'] = pd.DatetimeIndex(bigdata['VAX_DATE']).year
bigdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162634 entries, 0 to 162633
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   VAERS_ID         162634 non-null  int64
 1   RECVDATE         162634 non-null  datetime64[ns]
 2   AGE_YRS          151507 non-null  float64
 3   SEX              162634 non-null  object
 4   SYMPTOM_TEXT     162500 non-null  object
 5   DIED             3558 non-null    object
 6   VAX_DATE         153099 non-null  datetime64[ns]
 7   NUMDAYS          145951 non-null  float64
 8   LAB_DATA         89553 non-null   object
 9   VAX_TYPE         162634 non-null  object
 10  VAX_MANU         162634 non-null  object
 11  VAX_LOT          137090 non-null  object
 12  VAX_DOSE_SERIES  162634 non-null  object
 13  VAX_NAME         162634 non-null  object
 14  FILEYEAR         162634 non-null  int64
 15  VAXYEAR          153099 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(2), object(9)
memory usage: 21.1+ MB

In [11]:
sns.set()
#sns.displot(bigdata['VAX_TYPE'], kde=True)
vaxcounts = vaxes[['VAX_TYPE', 'VAERS_ID']].groupby('VAX_TYPE').agg('count').reset_index()
vaxcounts
#sns.barplot(x = 'VAX_TYPE', y = )
#plt.show()

   VAX_TYPE  VAERS_ID
0      ADEN         7
1      ANTH       692
2       BCG         7
3      CHOL        78
4        DT      1267
5      DTAP      6652
6     DTAPH         3
7       DTP     19494
8    DTPHIB      5826
9    DTPIPV         1
10  DTPPHIB         2
11     FLU3      9059
12     FLUX      2932
13   HBHEPB       449
14     HBPV        36
15      HEP     26364
16     HEPA      1074
17     HIBV     18000
18      IPV      2302
19      JEV       141
20     JEVX         2
21     LYME       379
22      MEA       370
23      MEN       278
24      MER       100
25       MM         4
26      MMR     17691
27       MU        37
28      MUR         7
29      OPV     22816
30      PER         2
31   PLAGUE        22
32      PPV      4312
33      RAB      1166
34      RUB       546
35       RV       502
36    SMALL         6
37      TBE         1
38       TD      7827
39     TTOX       972
40      TYP      1113
41      UNK       192
42   VARCEL      9506
43       YF       397